* {
  margin: 0;
  padding: 0;
}

html {
  background: #f8f8f8;
}

.App-container {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 70vw;
  padding: 10px;
  border-radius: 10px;
  border-left: 5px solid #ffc6e5;
  border-top: 5px solid #ffc6e5;
  border-right: 5px solid #a0cfee;
  border-bottom: 5px solid #a0cfee;
}

.name-filter {
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.name-search {
  height: 20px;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  padding: 10px;
}

.btn-filter {
  height: 40px;
  border: none;
  border-radius: 5px;
  width: 35px;
  font-size: 20px;
  color: #36454f;
}

.btn-f {
  background: #ffc6e5;
  color: #980856;
  box-shadow: 0 4px 1px -1px black;
}

.btn-m {
  background: #a0cfee;
  color: #1f5a81;
  box-shadow: 0 4px 1px -1px none;
}

.fav-title {
  color: gray;
  font-weight: 400;
  margin-left: 1em;
}

.divider {
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border: 1px solid lightgray;
  border-radius: 50%;
}

.name-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.name-card {
  background: lightgreen;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.sex-m {
  background: #a0cfee;
  color: #1f5a81;
}

.sex-f {
  background: #ffc6e5;
  color: #980856;
}
